@tailwind base;

@tailwind components;


/* Active link style */
.active {
    @apply text-sec-100 font-bold border-b-2 border-sec-100;
}

.hero-font {
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 72px;
    line-height: 76px;
    text-align: left;
}

.bg-trans {
    background-color: rgba(0,0,0, 0.38);
}

@tailwind utilities;