body {
  margin: 0;
  font-family: "PT Sans", "Open Sans",  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Georgia';
  /*font-style: normal;*/
  /*font-weight: normal;*/
  src: local('Georgia'), url('./assets/fonts/georgia.ttf') format('truetype');
}

@font-face {
  font-family: 'Georgia Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Georgia Regular'), url('./assets/fonts/georgia.woff') format('woff');
}


@font-face {
  font-family: 'Georgia Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Georgia Italic'), url('./assets/fonts/georgiab.woff') format('woff');
}


@font-face {
  font-family: 'Georgia Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Georgia Bold'), url('./assets/fonts/georgiai.woff') format('woff');
}


@font-face {
  font-family: 'Georgia Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Georgia Bold Italic'), url('./assets/fonts/georgiaz.woff') format('woff');
}